@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@mixin inputFields{
    width: 50%;
    margin-left: 25%;

}
@mixin inputFieldsNotifications{
    text-align: left;
    margin-top: 1px;
    margin-left: 25%;
}
.cartWrapper{
    .actualCartWrapper{
        float: left;
        width: 70%;
        
    }
    .productsWrapper{
        padding: 0;
        text-align: left;
        font-family: 'Open-Sans', sans-serif;
        font-size: larger;
        .productImage{
            width: 10%;
            border-style: solid;
            margin-left: 7%;
            border-color: black;
            border-width: 1px;
            background-color: rgb(230, 230, 230);
            border-radius: 10px;
        }
        .productName{
            width: 20%;

        }
        .productPrice{
            margin-top: 1%;
            margin-left: 25%;
            display: inline;

        }
        .calculateTotal{
            display: none;            
        }
    }
    .showTotal{
        margin-top: 2%;
        font-size: 20px; 
    }
    .removeProduct{
        margin-right: 10%;
        margin-top: 3.8%;
        display: inline;
        &:hover{
            color:red;            
        }
    }
    .productPrice .productQuantity{
        border-radius: 10px;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        background-color: rgb(230, 230, 230);
        margin-right: 6%;
        .decreaseQuantity{
            &:hover{
                color:red;
            }
            margin-bottom: 5px;
        }
        .increaseQuantity{
            &:hover{
                color:red;
            }
            margin-bottom: 5px;

        }
        .quantity{
            font-size: 20px;
        }
    }
    .productGuideWrapper{
        display: flex;
        font-family: 'Lato', sans-serif;
        .productIndexGuide{
            margin-left: 6%;
            font-size: 20px;
        }
        .productQuantityGuide{
            margin-left: 25%;
            font-size: 20px;

        }
        .productPriceGuide{
             margin-left: 6%;
            // margin-right: 6%;
            font-size: 20px;

        }
    }
    .emptyCartAlert{
        font-size: 25px;
        margin-left: 50%;
    }
    
}
.finishOrderButton{
    color: black;
    animation: wiggle 2.5s infinite;
    background-color: orange;

    &:hover{
        background-color: rgb(255, 160, 19);
        box-shadow: 2px 2px 0px  black;
    } 
    
    @keyframes wiggle {
        0% { transform: rotate(0deg); }
       80% { transform: rotate(0deg); }
       85% { transform: rotate(5deg); }
       95% { transform: rotate(-5deg); }
      100% { transform: rotate(0deg); }
    }
}
.finishOrderDiv{
    float: left;
    width: 30%;
    border-style: solid;
    border-color: black;
    .finishOrderButton{
    }
    .showTotal{
    }
    .enterName{
        @include inputFields()
    }
    .enterAddress{
        @include inputFields()

    }
    .enterPhone{
        @include inputFields()
    }
    .enterNameNotification{
        @include inputFieldsNotifications()
    }
    .enterPhoneNotification{
        @include inputFieldsNotifications()

    }
    .enterAddressNotification{
        @include inputFieldsNotifications()

    }

}