@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.cartWrapper .actualCartWrapper {
  float: left;
  width: 70%;
}

.cartWrapper .productsWrapper {
  padding: 0;
  text-align: left;
  font-family: 'Open-Sans', sans-serif;
  font-size: larger;
}

.cartWrapper .productsWrapper .productImage {
  width: 10%;
  border-style: solid;
  margin-left: 7%;
  border-color: black;
  border-width: 1px;
  background-color: #e6e6e6;
  border-radius: 10px;
}

.cartWrapper .productsWrapper .productName {
  width: 20%;
}

.cartWrapper .productsWrapper .productPrice {
  margin-top: 1%;
  margin-left: 25%;
  display: inline;
}

.cartWrapper .productsWrapper .calculateTotal {
  display: none;
}

.cartWrapper .showTotal {
  margin-top: 2%;
  font-size: 20px;
}

.cartWrapper .removeProduct {
  margin-right: 10%;
  margin-top: 3.8%;
  display: inline;
}

.cartWrapper .removeProduct:hover {
  color: red;
}

.cartWrapper .productPrice .productQuantity {
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  background-color: #e6e6e6;
  margin-right: 6%;
}

.cartWrapper .productPrice .productQuantity .decreaseQuantity {
  margin-bottom: 5px;
}

.cartWrapper .productPrice .productQuantity .decreaseQuantity:hover {
  color: red;
}

.cartWrapper .productPrice .productQuantity .increaseQuantity {
  margin-bottom: 5px;
}

.cartWrapper .productPrice .productQuantity .increaseQuantity:hover {
  color: red;
}

.cartWrapper .productPrice .productQuantity .quantity {
  font-size: 20px;
}

.cartWrapper .productGuideWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Lato', sans-serif;
}

.cartWrapper .productGuideWrapper .productIndexGuide {
  margin-left: 6%;
  font-size: 20px;
}

.cartWrapper .productGuideWrapper .productQuantityGuide {
  margin-left: 25%;
  font-size: 20px;
}

.cartWrapper .productGuideWrapper .productPriceGuide {
  margin-left: 6%;
  font-size: 20px;
}

.cartWrapper .emptyCartAlert {
  font-size: 25px;
  margin-left: 50%;
}

.finishOrderButton {
  color: black;
  -webkit-animation: wiggle 2.5s infinite;
          animation: wiggle 2.5s infinite;
  background-color: orange;
}

.finishOrderButton:hover {
  background-color: #ffa013;
  -webkit-box-shadow: 2px 2px 0px  black;
          box-shadow: 2px 2px 0px  black;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  85% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  95% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  85% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  95% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.finishOrderDiv {
  float: left;
  width: 30%;
  border-style: solid;
  border-color: black;
}

.finishOrderDiv .enterName {
  width: 50%;
  margin-left: 25%;
}

.finishOrderDiv .enterAddress {
  width: 50%;
  margin-left: 25%;
}

.finishOrderDiv .enterPhone {
  width: 50%;
  margin-left: 25%;
}

.finishOrderDiv .enterNameNotification {
  text-align: left;
  margin-top: 1px;
  margin-left: 25%;
}

.finishOrderDiv .enterPhoneNotification {
  text-align: left;
  margin-top: 1px;
  margin-left: 25%;
}

.finishOrderDiv .enterAddressNotification {
  text-align: left;
  margin-top: 1px;
  margin-left: 25%;
}
/*# sourceMappingURL=Cart.css.map */