.cartWrapper{
    .productsWrapper{
        padding: 0;
        
        .productImage{
            width: 10%;
            margin-right: 60%;
            border-style: solid;
            border-color: black;
            border-width: 1px;
            background-color: rgb(230, 230, 230);
            border-radius: 10px;
        }
        .productName{
            width: 20%;

        }
        .productPrice{
            margin-top: 1%;
            display: inline;

        }
        .calculateTotal{
            display: none;            
        }
    }
    .showTotal{
        margin-top: 2%;
        margin-left: 70%;  
        font-size: 20px; 
    }
    .removeProduct{
        margin-left: 1%;
        &:hover{
            color:red;            
        }
    }
    .productPrice .productQuantity{
        border-radius: 10px;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        background-color: rgb(230, 230, 230);
        margin-right: 6%;
        .decreaseQuantity{
            &:hover{
                color:red;
            }
            margin-bottom: 5px;
        }
        .increaseQuantity{
            &:hover{
                color:red;
            }
            margin-bottom: 5px;

        }
        .quantity{
            font-size: 20px;
        }
    }
    .productGuideWrapper{
        .productIndexGuide{
            margin-left: 1%;
            font-size: 20px;
        }
        .productQuantityGuide{
            margin-left: 60%;
            font-size: 20px;

        }
        .productPriceGuide{
            margin-left: 6%;
            margin-right: 6%;
            font-size: 20px;

        }
    }
    .emptyCartAlert{
        font-size: 25px;
    }
    .finishOrderButton{
        background-color: white;
        color: black;
        border-color: black;
        border-radius: 10px;
        margin-left: 70%;
        &:hover{
            background-color: white;
            box-shadow: 2px 2px 0px  black;
        } 
        .deliveryIcon{
        }
    }
}
.anonymousOrder{
    width: 50%;
    display: flex;
    margin-left: 10px;
}