@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@mixin linkText{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}
@mixin footerTitles{
    font-size: 24px;
    font-family: 'Antic Slab', serif;
    margin-top: 10%;
    text-align: left;
    margin-left: 5%;
    color: white;
}
.footerWrapper{
    background-color:rgb(53, 53, 53);
    width: 100%;
    margin-top: 5%;
    color: rgb(173, 173, 173);
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-top: 2px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;

}
.footerText{
    font-size: 25px;
    font-family: 'Antic Slab', serif;
    margin-top: 10%;
}
.footerTextSubscribe{
    @include footerTitles();
}
.footerTitleAbout{
    @include footerTitles();
}
.footerTextAbout{
    font-size: 17px;
}
.footerTitleNavigation{
    @include footerTitles();
}
.footerNavigationTab{
    text-align: left;

}
.footerNavigationLinkContainer{
    display: inline;
}
.footerNavigationLink{
    text-align: left;
    margin-top: 10%;
    color: rgb(71, 172, 248);
    &:hover{
        color: rgb(46, 160, 247);
        text-decoration: none;

    }
}
.socialMediaIcons{
    margin-top: 5%;
    text-align: left;
    margin-left: 5%;
    display: inline-flex;
    float: left;
}
    .facebookIcon{
        color: #3b5998; 
        background-color: white;
        margin-left: 5%;
        border-style: solid;
        border-width: 2px;
        border-radius: 60%;
        &:hover{
            color: #4463a7;
        }
    }

.instagramIcon{
     background-image: linear-gradient(150deg, blue,purple, rgb(247, 163, 177), orange);
     border-radius: 10px;
     border-style: solid;
     color: white;
     border-color: rgb(75, 75, 75);
     border-width: 2px;
     &:hover{
         background-image: linear-gradient(150deg, rgb(40, 40, 255),rgb(151, 3, 151), rgb(247, 162, 176), rgb(250, 181, 53));

     }
}
.subscribeNewsletterButton{
    // background-image: linear-gradient(180deg,#F06105,#FF4F00 40%);    
    background-image: linear-gradient(180deg,#ff8f00 24%, black 160%);
    color: white;
    margin-left: 5px;
    &:hover{
        color: white;
        background-image: linear-gradient(180deg,#ff8f00 24%, black 160%);
    }
}
.subscribeNewsletterForm{
    margin-left: 5%;

}
.footerMore{
    border-style: solid;
    border-color: gray;
    border-left: 0;
    border-right: 0;
    text-align: center;
    .footerMoreText{
        font-size: 25px;
    }
}
.privacyDetails{
    display: inline-flex;
    white-space: nowrap;
    .privacyPolicy{
        .privacyPolicyLink{
            text-decoration: none;
            color: gray;
            &:hover{
                color: rgb(169, 169, 169);
            }
        }
    }
    .termsOfUse{
        margin-left: 10px;
        .termsOfUseLink{
            text-decoration: none;
            color: gray;
            &:hover{
                color: rgb(169, 169, 169);
            }
        }
    }

}