$backgroundColorNavbar: rgb(53, 53, 53);
;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


@mixin textProps{
    font-family: 'Lato', sans-serif;
    
}

.nav-link{
    color: white;
    display: inline;
}
.HoodiesLink{
    background-color: #666;
    color: white !important;

    &:hover{
        background-color: #666;
        color: white;
    }
} 
.nav-item .MasksLink{
    color: white !important;
    &:hover{
        background-color: rgb(85, 85, 85);
        color: white;
    }
} 


.searchBar{
    border-radius: 25px;
    width: 70%;
    height: 35px;
    color: black;
    margin-left: 1%;
    position: relative;
}
.searchBarValue{
    background-color: rgb(53,53,53);
    color: white;
    border-top: 0;    
    border-left: 0;
    border-right: 0;
    &:focus{
        background-color: rgb(53,53,53);
        color: white;
    }
    &::placeholder{
        color: white;
    }
}
.searchButton{
    background-color: rgb(53,53,53);
    color: white;
    border-top: 0;    
    border-left: 0;
    border-right: 0;
}
.dropDown{
    color: green;
    background-color: white;
    display: none;
    
    
}
.dropDownItemOne{
    &:hover{
        background-color: white;
    }
}
.dropdownValue{
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
    padding: 10;
    &:hover{
        background-color: rgba(208, 216, 198, 0.3);
        color: black;
        text-align: left;
    }
    @include textProps()

}


.Icons{
    margin-left: 2%;
}
.navbar{
    background-color: $backgroundColorNavbar;
    box-shadow: 0px 1px 0px 0px black;

    @include textProps();

}
.shoppingCartIcon{
    color: white;
    filter: drop-shadow(0.5px 0.5px 0.5px black);
    &:hover{
        color:yellowgreen;


    }
}
.wishlistIcon{
    color: white;
    filter: drop-shadow(0.5px 0.5px 0.5px black);

    &:hover{
        color: rgb(106, 2, 106);

    }
}
.loginLink
{
    color: white;
    filter: drop-shadow(0.5px 0.5px 0.5px black);

    &:hover{
        color: orange;

    }
}
.wishListIndex{
    color: white;
    font-size: 17px;
    margin-left: 5px;
    font-family: 'Lato', sans-serif;
}
.cartIndex{
    color: white;
    font-size: 17px;
    margin-left: 5px;
    font-family: 'Lato', sans-serif;
}
.homeButton
{
    // @include textProps();
    font-size: 25px;
    font-weight: 20px;
    color: white;
}
