$backgroundColorNavbar: rgb(53, 53, 53);
;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

@mixin textProps{
    font-family: 'Poppins', sans-serif;
}

.nav-link{
    color: white;
    display: inline;
}
.HoodiesLink{
    background-color: #666;
    color: white !important;

    &:hover{
        background-color: #666;
        color: white;
    }
} 
.nav-item .MasksLink{
    color: white !important;
    &:hover{
        background-color: rgb(85, 85, 85);
        color: white;
    }
} 


.searchBar{
    border-radius: 25px;
    width: 60%;
    height: 35px;
    color: black;
    margin-left: 1%;
    position: relative;


}
.searchButton{
    background-color: white;
}
.Icons{
    margin-left: 2%;
}
.navbar{
    background-color: $backgroundColorNavbar;
    box-shadow: 0px 1px 0px 0px black;

    @include textProps();

}
.shoppingCartIcon{
    color: white;
    filter: drop-shadow(0.5px 0.5px 0.5px black);
    &:hover{
        color:yellowgreen;


    }
}
.wishlistIcon{
    color: white;
    filter: drop-shadow(0.5px 0.5px 0.5px black);

    &:hover{
        color: rgb(106, 2, 106);

    }
}
.loginLink
{
    color: white;
    filter: drop-shadow(0.5px 0.5px 0.5px black);

    &:hover{
        color: orange;

    }
}
.wishListIndex{
    color: white;
    font-size: 17px;
    margin-left: 5px;
    font-family: 'Open Sans', sans-serif;
}
.cartIndex{
    color: white;
    font-size: 17px;
    margin-left: 5px;
    font-family: 'Open Sans', sans-serif;
}
.homeButton
{
    // @include textProps();
    font-size: 25px;
    font-weight: 20px;
    color: white;
}
