$backgroundColorForm:  #F2EDD7FF;
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.loginForm{
    background-color: #e8eff8;
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    .alert-success{
        opacity: 0;
        width: 50%;
        margin-left: 25%;
    }
    .alert-danger{
        opacity: 0;
        width: 50%;
        margin-left: 25%;
    }
    .alert-warning{
        opacity: 0;
        width: 50%;
        margin-left: 25%;
    }
    .createSpace{
        opacity: 0;
        margin: 5%;
    }

    .enterUsername{
        
        width: 40%;
        margin-top: 5%;
        margin-left: 30%;
        background-color: #e8eff8;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-color: black;
        // filter: drop-shadow(2px 2px 2px black);
    }
    .enterEmail{
        width: 40%;
        margin-top: 10px;
        margin-left: 30%;
        background-color: #e8eff8;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-color: black;
        // filter: drop-shadow(2px 2px 2px black);


    }
    .enterPassword{
        width: 40%;
        margin-top: 10px;
        margin-left: 30%;
        background-color: #e8eff8;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-color: black;
        // filter: drop-shadow(2px 2px 2px black);

    }
    .submitLoginForm{
        margin-top: 1%;
        width: 40%;
        filter: drop-shadow(2px 2px 2px black);

    }
}
.loginFormWrapper{
    background-color:#d9e6f5;
}
