@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.newItemsWrapper{
    display: inline-flex;
    width: 80%;
    margin-top: 2%;
    .productName{
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        text-align: center;
    }

    .newItemImageWrapper{
        .productImage{
            margin-top: 1.5%;
            margin-left: 25%;
            display: block;
            background-color: #e2e2e2;
            position: relative;
            // box-shadow: 2px 2px 2px 2px black;
            filter: drop-shadow(1px 1px 1px black);
            &:hover{
                transform: scale(1.03,1.03)
            }
        }
    }
    .productPrice{
        margin-top: 1%;
        font-family: 'Lato', sans-serif;
        font-size: 20px;
    }
    .actionButtonsWrapper{
        display: block;
        .addToWishListButton{
            width: 50%;
            margin-left: 2%;
            margin-top: 3%;
            background-color: orange;
            &:hover{
                background-color:  rgb(255, 160, 19);
            }
        }
        .buyOnExhibition{
            // margin-top: 1%;
            margin-left: 2%;
            width: 50%;
            background-color: orange;
            animation: wiggle 1.5s infinite;
            &:hover{
                background-color: rgb(255, 160, 19);
                animation: wiggle 1s infinite;
    
            }
        }
    }
    .noNewItemsAlert{
        margin-top: 5%;
        font-size: 50px;
        font-family: 'Lato', sans-serif;
    }
    
}