.infoBox{
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    margin-top: 2%;
    margin-left: 34.7%;
    width: 30%;
    .borderLine{
        border-color: black;
    }
    .orderInfoContainer{
        display: flex;
        .productsInfo{
            border-style: solid;
            border-color: black;
            border-top: 0;
            border-left: 0;
            border-bottom: 0;
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 20px;

        }
        .quantityInfo{
            border-style: solid;
            border-color: black;
            border-top: 0;
            border-left: 0;
            border-bottom: 0;
            padding-top: 10px;
            padding-left: 50px;
            padding-right: 50px;


        }
        .priceInfo{
            border-style: solid;
            border-color: black;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: 0;
            padding-top: 10px;
            padding-left: 50px;
            padding-right: 50px;

        }
    }
}
.returnButton{
    margin-top: 1%;
}