.privacyPolicyContainer{
    .footerWrapper{
        margin-top: 0;
        padding: 10px
    }
}

.privacyPolicyWrapper{
    background-color: white;
    border-style: solid;
    .showSummaryContainer{
        display: flex;
        margin-left: 40%;
    }
}