@mixin privacyText(){
    width: 50%;
    margin-left: 25%;
}
.privacyPolicyContainer{
    .footerWrapper{
        margin-top: 0;
        padding: 10px
    }
}

.privacyPolicyWrapper{
    background-color: white;
    .showSummaryContainer{
        display: flex;
        margin-left: 40%;
    }
    .privacySummary{
       @include privacyText()
    }
    .dataWeCollect{
        @include privacyText()

    }
    .whyDoWeCollectYourData{
        @include privacyText()

    }
    .whoWeShareYourDataWith{
        @include privacyText()

    }
    .howDoWeUseYourData{
        @include privacyText()

    }
    .cookiesAndTrackers{
        @include privacyText()

    }
    
}