@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body, html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.App {
  background-color: #d9e6f5;
  background-color: #d9e6f5;
}

.App .products {
  background-color: #d9e6f5;
}

.hoodieWrapper {
  display: inline-block;
}

.hoodieLink {
  display: inline-block;
  position: relative;
  margin-top: 4%;
  margin-left: 2%;
  background-color: white;
}

.hoodieLink:hover {
  -webkit-filter: drop-shadow(5px 5px 5px black);
          filter: drop-shadow(5px 5px 5px black);
  border-style: solid;
}

.exhibitionHoodiesWrapper {
  margin-top: 1%;
  width: 40%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.exhibitionHoodiesWrapper .exhibitionHoodieImage {
  margin-top: 4%;
  margin-left: 25%;
  display: block;
  background-color: #e2e2e2;
  position: relative;
  -webkit-filter: drop-shadow(1px 0px 1px black);
          filter: drop-shadow(1px 0px 1px black);
  -webkit-box-shadow: 1px 1px 1px  black;
          box-shadow: 1px 1px 1px  black;
}

.exhibitionHoodiesWrapper .exhibitionHoodieImage:hover {
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
}

.exhibitionHoodiesWrapper .exhibitionImageWrapper {
  text-align: center;
}

.exhibitionHoodiesWrapper .addFaves {
  margin-left: 20%;
  float: left;
  color: white;
  -webkit-filter: drop-shadow(0.5px 0.5px 0.5px black);
          filter: drop-shadow(0.5px 0.5px 0.5px black);
}

.exhibitionHoodiesWrapper .addFaves:hover {
  color: #d8d8d8;
  opacity: 1;
}

.exhibitionHoodiesWrapper .buyOnExhibition {
  margin-left: 2%;
  width: 50%;
  -webkit-animation: wiggle 1.5s infinite;
          animation: wiggle 1.5s infinite;
}

.exhibitionHoodiesWrapper .buyOnExhibition:hover {
  -webkit-animation: wiggle 1s infinite;
          animation: wiggle 1s infinite;
}

.exhibitionHoodiesWrapper .buyOnExhibitionDisabled {
  margin-top: 1%;
  margin-left: 2%;
  width: 50%;
}

.hoodieName {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.hoodiePrice {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.goToCategoryLink {
  font-size: 20px;
  text-decoration: none;
}

.goToCategoryLink:hover {
  text-decoration: none;
}

.CategoryLink {
  text-decoration: none;
}

.CategoryLink:hover {
  text-decoration: none;
}

.buttonWrapper {
  background-color: #dddddd;
  width: 25%;
  margin-left: 38.5%;
}

.featured {
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  color: #ff8c00;
}

.Categories {
  margin-top: 2%;
}

.Categories .Hoodies {
  width: 50%;
  -webkit-filter: drop-shadow(2px 2px 4px black);
          filter: drop-shadow(2px 2px 4px black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  margin-left: 40px;
  margin-right: 10px;
}

.Categories .Hoodies .goToHoodiesButton {
  background-color: green;
  font-family: 'Roboto', sans-serif;
  color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #016a01;
  width: 99%;
  margin-bottom: 10px;
  word-wrap: break-word;
  margin-top: 11.8%;
}

.Categories .Hoodies .goToHoodiesButton:hover {
  -webkit-box-shadow: 2px 2px 0px  black;
          box-shadow: 2px 2px 0px  black;
}

.Categories .Masks {
  width: 50%;
  margin-right: 10px;
}

.Categories .Masks .goToMasksButton {
  margin-top: 11.8%;
  background-color: green;
  font-family: 'Roboto', sans-serif;
  color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #016a01;
  width: 99%;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.Categories .Masks .goToMasksButton:hover {
  -webkit-box-shadow: 2px 2px 0px  black;
          box-shadow: 2px 2px 0px  black;
}

.categoryName {
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  color: #ff8c00;
}

.caption {
  background-color: white;
  background-color: #e4e4e4;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  padding: 5px;
  width: 50%;
  margin-left: 25%;
}

.showProductImage {
  width: 50%;
  margin-left: 10%;
}

.showProductImage:hover {
  -webkit-transform: scale(1.02, 1.02);
          transform: scale(1.02, 1.02);
}

#caption {
  position: relative;
  right: auto;
  left: auto;
  background-color: #963596;
  -webkit-box-shadow: 2px 2px 4px rgba(119, 41, 119, 0.8);
          box-shadow: 2px 2px 4px rgba(119, 41, 119, 0.8);
  padding-bottom: 20px;
  color: black;
  text-align: center;
  width: 25%;
  margin-left: 38.5%;
}

.slide .carousel-indicators {
  display: none;
}

.carouselImage {
  width: 100%;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  85% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  95% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  85% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  95% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/*# sourceMappingURL=Products.css.map */