$backgroundColorProduct: #ffcc00;

$categoryButtonColor: green;
$categoryButtonColorHover: #F2EDD7FF;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body, html{
    width: 100%; 
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.App{
    // background-color: #E2C2B3;
    // background-color: #687477;
    // background-color: #403234;
    
    background-color:#d9e6f5;

    .products{
        // background-image: linear-gradient(180deg, #e3e0cf, #c5d5db, #9fa8a3,);
        background-color:#d9e6f5;
    }
    //c5d5db
    //9fa8a3
    //e3e0cf
    // background-color:  #9fa8a3;
    background-color:#d9e6f5;
}
@mixin CategoriesBackground{
    
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: #F7F3F5;
    border-radius: 10px;
}
@mixin CategoriesButton{
    // background-image: linear-gradient($categoryButtonColor, black 120%);
    background-color: $categoryButtonColor;
    font-family: 'Roboto', sans-serif;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(1, 106, 1);
    width: 99%;
    margin-bottom: 10px;
    word-wrap: break-word;
    &:hover{
        box-shadow: 2px 2px 0px  black;
    }
}
.hoodieWrapper{
    display: inline-block;
}
.hoodieLink{
    display: inline-block;
    position: relative;
    margin-top: 4%;
    margin-left: 2%;
    background-color: white;
    &:hover{
        filter: drop-shadow(5px 5px 5px black);
        border-style: solid;
    }
}
.exhibitionHoodiesWrapper{
    margin-top: 1%;
    width: 40%;
    // margin-left: 5%;
    // background-color: white;

    display: inline-flex;
    .exhibitionHoodieImage{
        margin-top: 1.5%;
        margin-left: 25%;
        display: block;
        background-color: #e2e2e2;
        position: relative;
        // box-shadow: 2px 2px 2px 2px black;
        filter: drop-shadow(1px 1px 1px black);
        &:hover{
            transform: scale(1.03,1.03)
        }
    }
    .exhibitionImageWrapper{
        text-align: center;
        // margin-left: 10%;
    }
    .addFaves{
        margin-left: 20%;
        float: left;
        color: white;
        filter: drop-shadow(0.5px 0.5px 0.5px black);
        &:hover{
            color: rgb(216, 216, 216);
            opacity: 1;
        }
    }    
    .buyOnExhibition{
        // margin-top: 1%;
        margin-left: 2%;
        width: 50%;
        background-color: orange;
        animation: wiggle 1.5s infinite;
        &:hover{
            background-color: rgb(255, 160, 19);
            animation: wiggle 1s infinite;

        }
    }
    .buyOnExhibitionDisabled{
        margin-top: 1%;
        margin-left: 2%;
        width: 50%;
        
    }

}
.hoodieName{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.hoodiePrice{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.goToCategoryLink{
    // margin-left: 5%;
    // color: #ffa500;
    font-size: 20px;
    text-decoration: none;
    &:hover{
        text-decoration: none;
        // color: #ffbd42;

    }
}

.CategoryLink{
    text-decoration: none;
    &:hover{
        text-decoration: none;

    }
}


.buttonWrapper{
    background-color: rgb(221, 221, 221);
    width: 25%;
    margin-left: 38.5%;
}
.featured{
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    color: #ff8c00;
}
.Categories{
    // display: inline-flex;
    margin-top: 2%;
    // filter: drop-shadow(2px 2px 2px black);
    .Hoodies{
        // @include CategoriesBackground();
        width: 50%;
        filter: drop-shadow(2px 2px 4px black);
        display: flex;
        float: left;
        margin-left: 40px;
        margin-right: 10px;
        .goToHoodiesButton{
            @include CategoriesButton();
            margin-top: 11.8%;
        }
    }
    .Masks{
        // @include CategoriesBackground();
       
        width: 50%;
        margin-right: 10px;
        
        .goToMasksButton{
            margin-top: 11.8%;
            @include CategoriesButton();
        }
    }
}
.categoryName{
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    color: #ff8c00;
}
.caption{
    background-color: white;

    background-color: rgb(228, 228, 228);
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding: 5px;
    width: 50%;
    margin-left: 25%;
}

.showProductImage{
    // filter: drop-shadow(4px 4px 4px rgb(211, 209, 209));
        // float: left;
    // max-width: 50%;
    width: 50%;
    margin-left: 10%;
    // background-color:#e2e2e2;
    &:hover{
        transform: scale(1.02,1.02)
    }
}
#caption{
    position: relative;
    right: auto;
    left: auto;
    background-color: rgb(150, 53, 150);
    box-shadow: 2px 2px 4px  rgba(119, 41, 119, 0.8);
    padding-bottom: 20px;
    color: black;
    text-align: center;
    width: 25%;
    margin-left: 38.5%;
}
.slide{

    .carousel-indicators{
        display: none;
    }
    
}
.carouselImage{
    width: 100%;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
