$backgroundColorProduct: #ffcc00;
$categoryButtonColor: rgb(89, 179, 248);
$categoryButtonColorHover: rgb(73, 149, 208);

body, html{
    width: 100%; 
    height: 100%;
    background-color: white;
    overflow-x: hidden;
}
@mixin CategoriesBackground{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: #F2EDD7FF;
}
@mixin CategoriesButton{
    background-color: $categoryButtonColor;
    color: black;
    border-color: $categoryButtonColor;
    width: 50%;
    &:focus{
        background-color: $categoryButtonColorHover;
    }
    &:hover{
        background-color: $categoryButtonColorHover;
    }
}

img{
    width: 50%;
}
.Categories{
    display: inline-flex;
    margin-top: 1%;
    .Hoodies{
        @include CategoriesBackground();
        width: 50%;
        margin-left: 10px;
        margin-right: 10px;
        .goToHoodiesButton{
            @include CategoriesButton();
            margin-top: 11.8%;
        }
    }
    .Masks{
        @include CategoriesBackground();
        width: 50%;
        margin-left: 10px;
        margin-right: 10px;
        .goToMasksButton{
            margin-top: 11.8%;
            @include CategoriesButton();
        }
    }
}