$backgroundColorProduct: #ffcc00;

$categoryButtonColor: green;
$categoryButtonColorHover: #F2EDD7FF;
body, html{
    width: 100%; 
    height: 100%;
    overflow-x: hidden;

}
.App{
    // background-color: #E2C2B3;
    // background-color: #687477;
    // background-color: #403234;
    .products{
        background-color: #f2f2f2;
    }
    background-color: #f2f2f2;

}
@mixin CategoriesBackground{
    
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: #F7F3F5;
    border-radius: 10px;
}
@mixin CategoriesButton{
    background-image: linear-gradient($categoryButtonColor, black 120%);
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 50%;
    word-wrap: break-word;
    &:hover{
        background-color: $categoryButtonColorHover;
        box-shadow: 2px 2px 0px  black;
    }
}

img{
    width: 50%;
}
.Categories{
    display: inline-flex;
    margin-top: 1%;
    .Hoodies{
        @include CategoriesBackground();
        width: 50%;
        margin-left: 10px;
        margin-right: 10px;
        .goToHoodiesButton{
            @include CategoriesButton();
            margin-top: 11.8%;
        }
    }
    .Masks{
        @include CategoriesBackground();
        width: 50%;
        margin-left: 10px;
        margin-right: 10px;
        .goToMasksButton{
            margin-top: 11.8%;
            @include CategoriesButton();
        }
    }
}