@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@mixin notActiveButtons
{
    opacity: 0.3;
}
.profilePageWrapper{
    
    .profileWrapper
    {
        width: 80%;
        margin-left: 10%;
    }
    .profileGreeting{
        margin-top: 2%;
        text-align: left;
    }
    .notRegisteredAlert{
        font-size: 20px;

    }
    .greetUserField
    {
        font-size: 20px;
    }
    .borderLine{
        border-color: black;
        border-width: 2px;
    }
    .options{

        .optionsTitle{
            font-size: 20px;
        }
        text-align: left;
        width: 25%;
        .freeSpace{
            opacity:0;
        }
        .deleteAccButton{
        }
        .logOutButton{
            display: flexbox;
        }
        
    }
.inactiveButtons{
    @include notActiveButtons()
}
    
    .dashboard {        
        display: flex;
        font-family: 'Lato', sans-serif;

        .orderHistory{

            width: 100%;
            text-align: left;
            border-left: 2px;
            border-right: 0px;
            border-top: 0px;
            border-bottom: 0px;
            font-size: 20px;

        }
        .ordersBox{
            .orderInfo{

                display: inline;
                margin-left: 10%;
            }
            
        }
        .orderHistoryTitle{
            font-size: 20px;
            margin-left: 1%;
        }
        
    }
    

}
.historyIndexes{
    display: flex;
    font-family: 'Lato', sans-serif;
    .productIndex{
        margin-left: 10%;
        font-size: 20px;
    }
    .productQuantity{
        margin-left: 10%;
        font-size: 20px;

    }
    .productPrice{
         margin-left: 9%;
        // margin-right: 6%;
        font-size: 20px;

    }
}
