
    .termsOfUseContainer{
        background-color: white;
        
        .termsOfUseWrapper{
            width: 85%;
            margin-left: 7%;
            display: flexbox;
            .terms{
                display: flebox;
            }
            .intelectualProperty{

            }
            .prohibitedActions{

            }
            .disclaimer{

            }
        }
    }
