$backgroundColor:  rgb(255, 255, 255);
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.wishlistWrapper{
    background-color: white;
    border-style: solid;
    border-width: 2px;
    box-shadow: 2px 2px 2px rgb(218, 218, 218);
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.productsWishListWrapper{
    width: 30%;
    float: left;
    display: inline-grid;
    box-shadow: 1px 1px 2px 1px rgb(189, 189, 189);
    margin-left: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    .productPrice{
        margin-top: 10px;
        font-size: 20px;
        font-family: 'Lato', sans-serif;
    }
}
.removeProduct{
    float: right;
    &:hover{
        color: red;
    }
}
.productImageWishlist{
    margin-top: 1.5%;
        margin-left: 25%;
        display: block;
        background-color: #e2e2e2;
        position: relative;
        // box-shadow: 2px 2px 2px 2px black;
        filter: drop-shadow(1px 0px 1px black);
        box-shadow: 1px 1px 1px  black;

}
.addProductButton{
    background-color: orange;
    margin-bottom: 5px;
    font-family: 'Lato', sans-serif;
    &:hover{
        color: black;
        background-color: rgb(255, 160, 19);
    }
    .addProductIcon{
    }
}
.emptyWishlist{
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}
.productName{
    margin-left: 7%;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}

.promocode{
    width: 20%;
    margin-left: 75%;
}
.activateCodeButton{
    margin-top: 1%;
    margin-left: 76.5%;
}