$backgroundColor:  rgb(255, 255, 255);
.productsWishListWrapper{
    width: 30%;
    display: inline-block;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    background-color: $backgroundColor;
}
.removeProduct{
    float: right;
    &:hover{
        color: red;
    }
}
.addProductButton{
    background-color: white;
    border-color: black;
    color: black;
    margin-bottom: 5px;
    &:hover{
        background-color: $backgroundColor;
        border-color: black;
        box-shadow: 2px 2px 0px black;
        color: black;
    }
    .addProductIcon{
        color: green;
    }
}
.productName{
    margin-left: 35px;
}
.promocode{
    width: 20%;
    margin-left: 75%;
}
.activateCodeButton{
    margin-top: 1%;
    margin-left: 76.5%;
}