$backgroundColor:  #F2EDD7FF;
.productsWishListWrapper{
    width: 30%;
    display: inline-block;
    float: left;
    margin-left: 2%;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin-top: 10px;
    background-color: $backgroundColor;
}
.removeProduct{
    margin-left: 15px;
    &:hover{
        color: red;
    }
}
.addProductButton{
    background-color: white;
    border-color: black;
    color: black;
    margin-bottom: 5px;
    &:hover{
        background-color: $backgroundColor;
        border-color: black;
        box-shadow: 2px 2px 0px black;
        color: black;
    }
    .addProductIcon{
        color: green;
    }
}